body {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;

  background-color: white;

  font-family: PTSans, Arial, sans-serif;
  line-height: 21px;
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
  color: black;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: $table) {
  body {
    min-width: 768px;
  }
}
