.advantages {
  position: relative;
  text-align: center;
  padding-top: 20px;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    width: auto;
    min-height: 20px;
    background-image: url("../img/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-color: $skyblue;
    top: 0;
    left: -5px;
    right: -5px;
  }
}

.advantages__list {
  @include list-none;
}

.advantages__info {
  background-color: $skyblue;
  color: white;

  padding-top: 1px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.advantages__info--gray {
  background-color: #eeeeee;
  color: black;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: auto;
    height: 1px;
    background-color: #d6d6d6;
    left: 20px;
    right: 20px;
    bottom: -1px;
    z-index: 5;
  }
}

.advantages__title {
  @include font(18px, bold, 26px);
  margin-top: 40px;
}

.advantages__num {
  @include font(14px, normal, 21px);
  position: relative;

  &::before {
    content: "";
    width: 8px;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: -12px;
  }

  &::after {
    content: "";
    width: 8px;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 50%;
    right: -12px;
  }
}
.advantages__num--black {
  &::before {
    background-color: black;
  }

  &::after {
    background-color: black;
  }
}

.advantages__desc {
  @include font(14px, normal, 21px);
  margin-bottom: 20px;
}

.advantages__photo {
  margin: 0;
  line-height: 0;
  height: 256px;
}

@media (min-width: $table) {

  .advantages {
    padding-top: 0;

    &::before {
      display: none;
    }
  }

  .advantages__item {
    display: flex;
    flex-wrap: wrap;

    &:nth-of-type(2) {
      flex-direction: row-reverse;
    }
  }

  .advantages__info {
    width: 256px;

    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 0;

    box-sizing: border-box;
  }

  .advantages__photo {
    background-color: white;
    flex-grow: 1;
  }

  .advantages__title {
    font-size: 21px;
    line-height: 26px;
  }

  .advantages__wrapper {
    background-color: #eeeeee;
    display: flex;
  }

  .advantages__wrapper .advantages__item {
    width: 256px;
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
    text-align: center;
    padding-bottom: 20px;
  }

  .advantages__info--gray {
    padding: 0;

    &::after {
      display: none;
    }
  }
}

@media (min-width: $desktop) {
  .advantages__info {
    width: 400px;
  }

  .advantages__wrapper .advantages__item {
    width: 400px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
  }

  .advantages__title {
    padding-left: 79.5px;
    padding-right: 79.5px;
  }

  .advantages__desc {
    margin-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .advantages__photo {
    height: 255px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
}
