.btn {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: $skyblue;
  color: white;
  @include font(21px, bold, 26px);
  text-transform: uppercase;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #669ec0;
    outline: none;
  }

  &:active {
    background-color: #5496bd;
  }

  &:disabled,
  &--disabled {
    background-color: #e5e5e5;
  }
}

.btn--disabled:hover,
.btn--disabled:focus {
  background-color: #e5e5e5;
  cursor: default;
}
