.copyright {
  display: flex;
  justify-content: center;
}

.copyright__link {
  display: block;
  width: 27px;
  height: 34px;

  & svg {
    fill: #000000;
  }

  &:hover svg,
  &:focus svg {
    fill: #81b3d2;
  }

  &:active svg {
    fill: black;
    opacity: 0.3;
  }
}

.copyright__text {
  @include font(14px, normal, 26px);
  margin-right: 10px;
}

@media (min-width: $table) {
  .copyright__text {
    margin-top: 3px;
  }
}
