.main-nav {
  position: relative;
  color: white;
}

.main-nav--close .main-nav__list {
  display: none;
}

.main-nav__toggle {
  position: absolute;
  width: 23px;
  height: 22px;
  background-image: url("../img/icon-cross.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  text-indent: -9999px;
  right: 20px;
  top: 17px;
  cursor: pointer;
}

.main-nav__logo {
  display: none;
  text-align: center;
  line-height: 0;
}

.main-nav--close .main-nav__logo {
  display: block;
}

.main-nav--nojs {
  & .main-nav__list {
    display: block;
  }

  & .main-nav__logo {
    display: none;
  }
}

.main-nav--close .main-nav__toggle {
  background-image: url("../img/icon-menu.svg");
}

@media (min-width: $table) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    background-color: white;
    color: black;
  }
}
