.page-footer {
  width: 320px;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 25px;
  text-align: center;
}

.page-footer__heshteg {
  margin-bottom: 40px;
}

.page-footer__social {
  margin-bottom: 40px;
}
