.popup {
  width: 320px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  text-align: center;
}

.popup__wrapper {
  padding: 35px 55px;
  box-sizing: border-box;
}

.popup__title {
  @include font(18px, bold, 26px);
  margin-bottom: 20px;
}

.popup__desc {
  @include font(14px, normal, 24px);
  color: #333333;
  margin-bottom: 0px;
}

@media (min-width: $table) {
  .popup {
    width: 640px;
  }

  .popup__wrapper {
    padding: 40px 60px;
  }
}
