.social__list {
  @include list-none;
}

.social__list {
  display: flex;
  justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 5px;
}

.social__link {
  display: block;
  width: 46px;
  height: 48px;
  background-color: $skyblue;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;

  &--tw {
    background-image: url("../img/icon-twitter.svg");
  }

  &--fb {
    background-image: url("../img/icon-facebook.svg")
  }

  &--yt {
    background-image: url("../img/icon-youtube.svg")
  }
}
