.we-have {
  @include list-none;
  background-color: white;
  padding-top: 25px;
  padding-bottom: 35px;
  text-align: left;
}

.we-have__title {
  @include font(18px, bold, 26px);
}

.we-have__desc {
  @include font(14px, normal, 21px);
}
